body {
  background: yellow;
  text-align: center;
  margin: 16px;
  padding: 0;
}


form {
  max-width: 1000px;
  margin: -3rem auto;
  text-align: center;
  font-size: 100%;
  background: white;
  transform: scale(0.8);
  border: 1px solid black;
  box-shadow: 10px 10px 30px rgba(0,0,0,0.5);
  overflow: hidden;
}

a.button, button {
  display: inline-block;
  background: yellow;
  width: auto;
  padding: 1rem;
  font-size: 1.5rem;
  border: 3px solid black;
  margin-bottom: 1rem;
  clear:both;
  cursor: pointer;
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: bold;
}

a.button:hover, button:hover {
  background: black;
  color: yellow;
}

form span {
  font-weight: bold;
  border-bottom: 4px solid black;
}

h1 {
  font-size: 50px;
  font-family: 'Open sans', Arial, sans-serif;
  font-weight: 700;
}

img {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

p {
  max-width: 40em;
  margin: 0 auto 1.5em;
  font-size: 160%;
  text-align: center;
  font-family: 'Open sans', Arial, sans-serif;
}

#test p {
  max-width: auto;
  margin: 0 1em 1.5em;
}

span {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
